<ion-app>
    <ion-header >
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <ion-title>
                InstEasy
            </ion-title>
<!--            <ion-button slot="end" (click)="presentActionSheet()">-->
                <ion-icon name="settings-outline" slot="end" (click)="presentActionSheet()" size="large" style="margin-right: 15px;"></ion-icon>
<!--            </ion-button>-->
        </ion-toolbar>
    </ion-header>

    <ion-content>
         <ion-split-pane content-id="menu" >

           <ion-menu content-id="menu" class="navbar rounded" type="push" >
               <ion-card class="navbar">
                   <ion-card-content>
                       <div style="height: max-content;">
                           <ion-list>
                               <ion-item lines="none">
                                   <a><ion-text class="menu-item"><h2>Dashboard</h2></ion-text></a>
                               </ion-item>
                               <ion-item lines="none">
                                    <a routerLink="/overview" routerLinkActive="navactive"><ion-text class="menu-item"><h2>Overview</h2></ion-text></a>
                               </ion-item>
                               <ion-item lines="none">
                                   <ion-text class="menu-item"><h2>Go live</h2></ion-text>
                               </ion-item>
                               <ion-item lines="none">
                                   <ion-text class="menu-item"><h2>Doubt Class</h2></ion-text>
                               </ion-item>
                               <ion-item lines="none">

                                   <ion-list lines="none">
                                       <ion-item>
                                            <a routerLink="/notice-board" routerLinkActive="navactive"><ion-text class="menu-item"><h2>Create Notice</h2></ion-text></a>
                                       </ion-item>
                                       <ion-item>
                                           <a routerLink="/noticeboard-archive" routerLinkActive="navactive"><ion-text class="menu-item"><h2>Archive</h2></ion-text></a>
                                       </ion-item>
                                   </ion-list>

                               </ion-item>
                               <ion-item lines="none">
                                    <ion-text class="menu-item"><h2>Go live</h2></ion-text>
                               </ion-item>
                               <ion-item lines="none">
                                   <ion-text class="menu-item"><h2>Doubt Class</h2></ion-text>
                               </ion-item>
                               <ion-item lines="none">
                                   <a routerLink="/student-assignment-report" class="menu-item"><h2>Assignment report</h2></a>
                               </ion-item>
                               <ion-item lines="none">
                                   <a routerLink="/create-assignment" class="menu-item"><h2>Create Assignment</h2></a>
                               </ion-item>
                           </ion-list>
                       </div>
                   </ion-card-content>
               </ion-card>
           </ion-menu>
                 <!-- the main content -->
                <ion-router-outlet id="menu" ></ion-router-outlet>
         </ion-split-pane>
    </ion-content>
</ion-app>
