

<ion-content [fullscreen]="true">
<div id="container" class="container">
     <div id="search"><ion-searchbar showCancelButton="focus" class="rounded"></ion-searchbar></div>
    <div id="course">
        <ion-item>
            <ion-select class="selector" placeholder="Course" [(ngModel)]="selectedCourse" >
              <ion-select-option *ngFor="let course of courses" value="{{course.id}}">{{course.id}}){{course.title}}</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <div id="batch">
        <ion-item>
            <ion-select class="selector rounded" placeholder="Batch" [(ngModel)]="selectedBatch">
              <ion-select-option *ngFor="let batch of batches" value="{{batch.id}}">{{batch.name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <div id="text1"><ion-text color="dark" style="margin-left: var(--main-margin-left)"><h2>Announcements</h2></ion-text></div>
    <div id="editor">
        <ion-card>
            <ion-card-content>
                <ion-item class="textarea">
                    <angular-editor class="text-editor" [placeholder]="'Write here...'" [config]="editorConfig"
                                    [(ngModel)]="textdata" color="black" size-md="9" #TextEditor>
                    </angular-editor>
                </ion-item>
            </ion-card-content>
            <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
        </ion-card>
    </div>
    <div id="editorButtons">
        <ion-button id="attach" class="rounded" color="primary">Attach files</ion-button>
        <ion-button class="rounded" color="primary" disabled="" id="upload">Upload</ion-button>
        <ion-button class="rounded" (click)="createNotice()" color="primary" id="post">Post</ion-button>
    </div>
    <div id="text2">
        <ion-text style="margin-left: var(--main-margin-left)"><h2>Notice Board Archive</h2></ion-text>
    </div>
    <div id="table">
        <app-mat-table
        [tableData]="notices"
        [tableColumns]="ordersTableColumns"
        [isPageable]="false"
        [defaultPageSize]="5">
        </app-mat-table>
    </div>
    <div id="footer"></div>
</div>
</ion-content>

